@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Anta;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
:root{
    --main-color:#2a86ff;
    --text-color: black;
    --bg-color:#fdfdff;
    --bg-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
::selection{
    background: var(--main-color);
    color: var(--text-color);
}


/* header starts */
body{
    background: linear-gradient(120deg, black 0%, rgb(37, 35, 35) 100%);
    color: var(--text-color);
    padding-inline: 2rem;
    height: auto;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background: linear-gradient(240deg, black 0%, rgb(37, 35, 35) 100%);
}
.logo {
    max-width: 100%;
    width: 100px;
    color: rgb(136, 131, 131);
    font-size: xx-large;
    position: relative;
    overflow: hidden;
}

/* Animation for color brightening */
@keyframes colorBrighten {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Apply the animation to .logo */
.logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to right, transparent, rgb(231, 10, 10), transparent);
    background-size: 200% 100%;
    animation: colorBrighten 2s infinite;
}
.navbar{
    display: flex;
    width: 100%;
    gap: 3rem;
    justify-content: end;
}
.navbar a{
    font-family: Anta;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
    transition: 0.4s;
    color: rgb(250, 5, 5);
}
.navbar a:hover{
    color: white;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
    
/* header ends */

/* home section starts */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

section{
    padding: 70px 17px;
}
.home{
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1.5rem;
    z-index: 0;
}

.home::after{
    content: "";
    position: absolute;
    z-index: 1;
    width: 23rem;
    height: 23rem;
    border: 2px solid;
    background: linear-gradient(var(--angle), 
    #c05555,  #cf2727, rgb(202, 2, 2));
    border-radius: 0.5rem;
    animation: rotate 2s linear infinite;
    clip-path: polygon(100% 0%, 100% 100%, 50% 80%, 0% 100%, 0% 0%);
}

.home::after{
    rotate: 135deg;
    right: 14.5%;
    filter: opacity(10px);
}

@keyframes rotate {
    0%     { --angle: 0deg; }
    100%   { --angle: 360deg;
    }
}

.home-image img{
    position: relative;
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 10px 120px;
    z-index: 3;
    border: 2px solid;
    animation: borderAnimation 2s infinite;
}

@keyframes borderAnimation {
    0% {
        border-width: 2px;
        border-color: rgb(253, 2, 2);
    }
    50% {
        border-width: 6px;
        border-color: rgba(146, 37, 37, 0.5);
    }
    100% {
        border-width: 2px;
        border-color: rgba(253, 2, 2, 0.8);
    }
}

.home-image::after{
    content: "";
    position: absolute;
    z-index: 1;
    width: 2rem;
    height: 7rem;
    border: 2px solid rgb(230, 12, 12);
    border-radius: 5rem 0.5rem;
    background: linear-gradient(var(--angle), 
    #c05555,  #cf2727, rgb(202, 2, 2));
    animation: rotate 2s linear infinite;
}

.home-image::after{
    rotate: 135deg;
    top: 15.7%;
    right: 36.9%;
    filter: opacity(10px);
}


.home-text h1{
    font-size: var(--bg-font);
    font-weight: 600;
    color: red;
}
.home-text p{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 2rem;
    color: #b84545;
}
.btn{
    display: inline-block;
    background: red;
    color: rgb(163, 158, 158);
    padding: 10px 15px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    border: none;
}

.btn::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 0;
    bottom: 0;
    border: 3px solid transparant;
    box-sizing: border-box;
}

.btn:hover:before{
    width: calc(240px / 2);
    height: 46px;
    border: 3px solid #666262;
    border-right: none;
    border-bottom: none;
    border-radius: 1rem;
    transition: height 0.3s linear, 
                width 0.3s linear 0.3s;
  }

  .btn:after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    border: 3px solid transparant;
    box-sizing: border-box;
  }

  .btn:hover:after{
    width: calc(240px / 2);
    height: 46px;
    border: 3px solid #666262;
    border-left: none;
    border-top: none;
    border-radius: 1rem;
    transition: height 0.3s linear, 
                width 0.3s linear 0.3s;
  }
  
.btn:hover{
    transform: scale(1.2) translateY(10px);
}
.social-icon{
    display: flex;
    gap: 1rem;
}

/* home section ends */

/* project section ends */

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.project-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #b84545;
}

.project-all{
    display: grid;
    grid-column: 1fr 1fr;
    gap: 2rem;
}

.project-one{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.project-one img{
    width: 50%;
}

.project-btn{
    display: flex;
    gap: 1.5rem;
}

.project-one button a{
    color: rgb(163, 158, 158);
    font-size: 1.3rem;
}

.project-two{
    flex-direction: row-reverse;
}

.work-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h3{
    font-size: 1.7rem;
    color: red;
}

.work-info p{
    font-weight: 400;
}

/* project section ends */

/* skill section starts */
.skill{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.language{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}


.progress-container {
    position: relative;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid gray;
    margin-top: 0.4rem;
    width: 100%;
    height: 30px;
  }

  .progress-bar {
    width: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 1s ease;
  }


  .html {
    background-color: #4caf50; /* Green for HTML */
  }

  .css {
    background-color: #3498db; /* Blue for CSS */
  }

  .javascript {
    background-color: #ce1212; /* Orange for JavaScript */
  }
/* skill section ends */

/* about section starts */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
    font-size: var(--h2-font);
    color: red;
}
.about-text p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1rem 0 2rem;
    color: #b84545;
}

/* about section ends */

/* contact section starts */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: auto;
}

.contact-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobile{
    color: rgb(192, 56, 56);
}

.number{
    color: rgb(20, 54, 204);
}

.email{
    background: -webkit-linear-gradient(0deg, rgba(3,7,251,1) 0%, rgba(241,2,2,1) 35%, rgba(1,251,23,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mail{
    color: rgb(192, 56, 56);
}

.github{
    color: rgb(163, 158, 158);
}

.linkedin{
    color: rgb(59, 59, 216);
}

.map{
    width: 100%;
    height: auto;
    border: 1px solid red;
}

.map iframe{
    width: 100%;
    height: 30rem;
}

/* contact section ends */

@media (max-width: 1560px){
    .header{
        padding: 15px 40px;
    }
    :root{
        --big-font:3.5rem;
        --h2-font:2rem;
    }

    .home::after{
        right: 12.5%;
    }
    .home-image::after{
        right: 38.3%;
    }
}

@media (max-width: 1440px) {

    .home::after{
        right: 11.7%
    }

    .home-image::after{
        right: 39.4%;
    }
    
}

@media (max-width: 1140px){
    section{
        padding: 50px 8%;
    }

    .header{
        padding: 0px;
    }

    .navbar{
        gap: 1rem;
    }

    .navbar a{
        padding: 0.8rem;
    }

    #menu-icon{
        color: var(--text-color);
    }
    
    .header .navbar{
        position: absolute;
        top: -500px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #1c1c22;
        transition: 0.4s;
    }
    .header .navbar .active{
        top: 70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }

    .home-text h1{
        font-size: 3.5rem;
    }

    .home::after{
        right: 10.7%;
    }

    .home-image::after{
        right: 46.6%;
    }

    .work-all .work-list{
        position: absolute;
        top: -500px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #1c1c22;
        transition: 0.4s;
    }
    .work-all .work-list .active{
        top: 70px;
    }
    .work-list a{
        padding: 1.5rem;
        display: block;
    }
    .contact-icon{
        padding: 0 200px;
        margin-bottom: 10px;
    }
}

@media (max-width: 850px) {
    .home-image::after{
        top: 20.7%;
        right: 48.2%;
    }

    .home::after{
        width: 18rem;
        height: 18rem;
        right: 10.0%;
    }
}

@media (max-width: 720px){
    header{
        padding: 10px 16px;
    }

    .navbar{
        gap: 1rem;
    }

    .navbar a{
        padding: 0.8rem;
    }

    .home{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 4rem;
    }

    .home::after{
        width: 19rem;
        height: 19rem;
        right: 27.5%;
        top: 46%;
    }

    .home-image{
        width: 331px;
    }

    .home-image::after{
        height: 5rem;
        top: 39.7%;
        right: 72.7%;
    }

    .home-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-all{
        gap: 4rem;
    }

    .project-one{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project-btn{
        justify-content: center;
    }
    
    section{
        padding: 100px 7%;
    }
    .contact-area{
        flex-direction: column;
    }
}

@media (max-width: 500px){

    .home::after{
        right: 16.3%;
        top: 51%;
    }

    .home-image::after{
        top: 43.7%;
        right: 85.7%;
    }

    .contact-icon{
        width: 100%;
    }
}